<div class="row">
  <div class="col-xs-10">
    <h1>Tasks</h1>
  </div>
  <div class="col-xs-2 text-right">
    <%= link_to "#", class: "btn btn-primary", id: "new-task-button" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>

</div>

<div id="tasks">
  <%= render partial: 'tasks' %>
</div>


<div class="modal fade" id="super-wicked-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Task</h4>
      </div>
      <div class="modal-body">

        <%= render partial: 'form' %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
